body{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .container{
    display: grid;
    height: 748px;
    width: 748px;
    grid-template-columns: 320px 198px 153px 50px;
    grid-template-rows: 414px 130px 155px 20px;
  }

  .grid-item-1 {
    background-color: red;
    grid-area: 1 / 1;
    border-right: 9px solid black;
    border-bottom: 9px solid black;
    
  }
  .grid-item-2{
    background-color: lightgray;
    grid-area: 1 / 2 / 1 / 5;
    border-bottom: 9px solid black;
  }
  .grid-item-3 {
    background-color: lightgray;
    grid-row: span 2;
    border-right: 9px solid black;
    border-bottom: 9px solid black;
  }
  .grid-item-4{
    background-color: lightgray;
    grid-area: span 2 / span 2;
    border-bottom: 9px solid black;
    border-right: 9px solid black;
  }
  .grid-item-5 {
    background-color: #004592;
    border-bottom: 10px solid black;
  }
  .grid-item-6 {
    background-color: lightgray;
    grid-row: span 2;
    border-top: 9px solid black;
  }

  .grid-item-7{
    background-color: #F9D01E;

  }
  .grid-item-8{
    background-color: #232629;
    border-right: 9px solid black;
    border-left: 9px solid black;
  }
  .grid-item-9 {
    background-color: lightgray;
    grid-area: 4 / 1;
    border-right: 9px solid black;
  }